* {
    box-sizing: border-box;
}

body {
    font-family: 'Gajraj One', cursive;
    margin: 0;
}

.main-header {
    position: fixed;
    background: greenyellow;
    width: 100%;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    color: brown;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 80px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0px ;
    padding: 0;
    list-style: none;

}

.main-nav__item {
    margin: 0px 16px;
    display: inline-block;

}

.main-nav__item a {
    color: brown;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active{
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a{
    color: white;
    background: purple;
    padding: 8px 16px;
    border-radius: 4px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color: purple;
    background: white;
    border: none;
}

.main-footer {
    background: greenyellow;
    width: 100%;
    padding: 8px 16px;
}
.main-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-footer__links li {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__links li a {
    color: brown;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}

.main-footer__links li a:hover,
.main-footer__links li a:active{
    color: white;
    border-bottom: 5px solid white;
}